'scopeName': 'source.talkscript'
'name': 'Talkscript'
'fileTypes': [
	'talk'
]
'limitLineLength': no
'maxTokensPerLine': 1000

'patterns': [
	{
		'match': '@set '
		'name': 'keyword.talkscript'
	},
	{
		'match': '#[0-9]{1,100}'
		'name': 'constant.other.numeric.talkscript'
	},
	{
		'match': '/@rp/talk/[0-9]{1,5}/[a-z?A-Z]{1,500}'
		'name': 'entity.name.type.talkscript'
	},
	{
		'match': '%[a-z]'
		'name': 'variable.talkscript'
	},
	#stringparsing open / close
	{
		'match': '\\[|\\]'
		'name': 'keyword.control.talkscript'
	},
	#numeric
	{
		'match': '[0-9]{1,5}'
		'name': 'constant.other.numeric.talkscript'
	},
	#else if and other keywords
	{
		'match': 'if '
		'name': 'keyword.control.talkscript'
	},
	{
		'match': 'else '
		'name': 'keyword.control.talkscript'
	},
	{
		'match': 'end '
		'name': 'keyword.control.talkscript'
	},
	{
		'match': 'set '
		'name': 'keyword.control.talkscript'
	},
	{
		'match': ' stat '
		'name': 'entity.name.type.talkscript'
	},
	{
		'match': 'NPC/(.+?)/(.+?)/(.+?) '
		'name': 'variable.talkscript'
	},
	{
		'match': 'player|victor|loser'
		'name': 'variable.talkscript'
	}
]
